@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype'), url('fontes/idroid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background-color: #c5ebd6;
}

header{
    background-color: #1a5c37;
}

header > h1{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #0e5d14c4;
}

header p{
    color: white;
}

nav{
    background-color: #063d1e;
}

main

main h1{
    color: #063d1e;
    font-family: 'idroid';
}

main h2{
    font-family: 'idroid';
}

footer{
    background-color: #063d1e;
    color: white;
}
